
.text-overlay p {
    position: relative;
    margin: 5px 0;
}
.aurek-besh, .english {
    display: inline-block; 
    transition: opacity 0.4s ease-in-out;
}
.english{
    font-family: Times New Roman;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
}
.text-overlay:hover .english {
    opacity: 1;
}
.text-overlay:hover .aurek-besh {
    opacity: 0;
}

